/* Général */

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Kelly+Slab&family=Luckiest+Guy&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, ::before, ::after{
    border-style: border-box;
    margin: 0;
    padding: 0;
}
html{
    font: normal 16px sans-serif;

}
body{
    background-color: #1570cd;
    background-image: url(./images/numérique.jpg);
    margin: 0;
    padding: 0;
    width: 100vw;
}

.Ancre {
	box-shadow:inset 0px -6px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius: 42px;
	border:2px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding: 10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
    transition: 0.2s
}
@media (min-width: 1200px){
    .Ancre{
        font-size: 18x;
    }
}
@media (max-width: 450px){
    .Ancre{
        padding: 7px;
    }
}

.Ancre:active {
	position:relative;
	top:1px;
}
.Ancre:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
    color: white;
    box-shadow:inset 0px -2px 0px 0px #97c4fe;
    transition: 0.2s;
}
.row{
    margin: 0;
}
.row > *{
    padding: 0;
}
h1{
    border: 2px solid white;
    text-align: center;
}

ul, nav{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.9;
    color: rgb(2, 211, 248);
}


/* Header */

header{
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    background-color: #2C3032;
}

header h1{
    font-family: 'Quicksand' , sans-serif;
}

header nav{
    display: flex;
}

@media (max-width: 700px){
    header{
        flex-direction: column;
    }
    header h3{
        margin-bottom: 15px;
    }
}

.soustitre{
    font-size: 30px;
    color: white;
    margin: 0;
    padding: 0;
}

/* Principal */

#descriptif, #profil, #compétences, .box-timeline, #portfolio, #contact{
    background-color: #2c3032c2;
    opacity: 1;
    margin-top: 150px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

/* 1ère section */

#portrait{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
img{
    max-width:100%;
	max-height:100%;
}
#textDescriptif{
    display: flex;
    align-items: center;

}
.text1{
    font-size:30px;
    text-align: center;
    color: white;
}



/* 2ème section */
#profil{
    align-items: center;
}
.text2{
    text-align: center;
    text-align: justify;
    margin: 50px;
    font-size:18px;
    text-align: center;
    color: white;
}


/* 3ème section */
#compétences{
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.logo{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
}

@media (max-width: 1000px){
    .logo{
        padding: 0;
    }
}


/* 4ème section */
.box-timeline {
    width: 100%;
    height: 1500px;
    background: #2c3032c2;
    position: relative;
    padding: 80px 0 250px 0;
    margin-top: 150px;
}

.ligne {
    height: 1000px;
    width: 8px;
    margin: 0 auto;
    background: #1e62d0;
    margin-top: 150px;
}

.rond {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #1e62d0;
    position: absolute;
    border: 1px solid #000;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
/* LOGO redimension */
.forklift{
    height: 80%;
    width: 80%;
}
.technique{
    height: 80%;
    width: 80%;
}
.codage{
    height: 80%;
    width: 80%;
}
.etudiant{
    height: 80%;
    width: 80%;
}

.r1{
    top: 230px;
}
.r2{
    top: 536px;
}
.r3{
    top: 862px;
}
.r4{
    top: 1170px;
}

.box {
    color: #333;
    width: 400px;
    min-height: 200px;
    padding: 20px;
    border-radius: 3px;
    height: auto;
    background: #f1f1f1;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.b1 {
    top: 100px;
    left: calc(50% - 270px);
}
.b2 {
    top: 450px;
    left: calc(50% + 270px);
}
.b3 {
    top: 750px;
    left: calc(50% - 270px);
}
.b4 {
    top: 1050px;
    left: calc(50% + 270px);
}

.box p {
    line-height: 20px;
    font-size: 18px;
    margin: 10px 0 20px 0;
}

.btn {
    display: block;
    background: midnightblue;
    padding: 10px;
    width: 120px;
    text-align: center;
    color: #f1f1f1;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
}

@media screen and (max-width: 1000px) {

    .ligne {
        position: relative;
        left: 0px;
    }
    .rond {
        display: none;
    }
    .box {
        left: calc(50% - 0px);
        width: 230px;
    }
    .box-timeline{
        height: 1605px;
    }
    .b1 {
        top: 0px;
    }
    .b2 {
        top: 430px;
    }
    .b3 {
        top: 730px;
    }
    .b4 {
        top: 1150px;
    }
}

@media screen and (max-width: 768px) {
    .ligne {
        height: 1200px;
    }
    .rond {
        display: none;
    }
    .box {
        left: calc(50% - 0px);
        width: 400px;
    }
    .b1 {
        top: 40px;
    }
    .b2 {
        top: 440px;
    }
    .b3 {
        top: 840px;
    }
    .b4 {
        top: 1240px;
    }
}

@media screen and (max-width: 320px) {
    .rond {
        display: none;
    }
    .box {
        left: calc(50% - 0px);
        width: 300px;
    }
    .b1 {
        top: 20px;
    }
    .b2 {
        top: 440px;
    }
    .b3 {
        top: 800px;
    }
    .b4 {
        top: 1200px;
    }
}
/*5ème section*/
#portfolio{
    height: 300px; /*A supprimer à la fin pour le responsive*/
}


/*6ème section*/
#contact{
    height: 400px; /*A supprimer à la fin pour le responsive*/
}



/* Ancre retour en haut */

.btn{
    box-shadow:inset 0px -6px 0px 0px #97c4fe;
    height: 80px;
    width: 80px;
    background: rgb(2, 211, 248);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    opacity: 0.8;
    z-index: 999;
}
.btn:hover{
    box-shadow:inset 0px -2px 0px 0px #97c4fe;
}
.icone{
    width: 50px;
}
/* Fin Ancre */