/* Général */

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Kelly+Slab&family=Luckiest+Guy&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font: normal 16px sans-serif;
    overflow-x : hidden;
}
.Ancre {
	box-shadow:inset 0px -6px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius: 42px;
	border:2px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
    transition: 0.2s
}
.Ancre:active {
	position:relative;
	top:1px;
}
.Ancre:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
    box-shadow:inset 0px -2px 0px 0px #97c4fe;
    transition: 0.2s;
}
body{
    background-color: #1570cd;
    background-image: url(./images/numérique.jpg);
    margin: 0;
    padding: 0;
    width: 100vw;
}

h1{
    border: 2px solid white;
  
}

ul, nav{
    list-style: none;
}

a{
    padding: 25px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.9;
    color: rgb(2, 211, 248);
}


/* Header */

header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding: 35px 100px 35px;
    background-color: #2C3032;
}

header h1{
    font-family: 'Quicksand' , sans-serif;
}

header nav{
    display: flex;
}

header nav li{
    margin: 0 15px;
}

@media (max-width: 1000px){
    header{
        padding: 20px 50px;
    }
}

@media (max-width: 700px){
    header{
        flex-direction: column;
    }
    header h2{
        margin-bottom: 15px;
    }
}


/* Principal */

#descriptif, #profil, #compétences, #timeline, #portfolio, #contact{
    background-color: #2c3032c2;
    opacity: 1;
    margin-top: 150px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

/* 1ère section */
#descriptif{
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#portrait{
    position: relative;
    width: 300px;
    height: 350px;
    background-color: #484c4e;
    border-radius: 50%;
    overflow: hidden;
}
img{
    display: block;
    max-width:100%;
	max-height:100%;
}
#textDescriptif{
    display: flex;
    align-items: center;
    width: 700px;
    height: 400px;
    background-color: #484c4e;
    border: 5px solid #97c4fe;
    border-radius: 10%;
}
.text1{
    font-size:30px;
    text-align: center;
    color: white;
}



/* 2ème section */
#profil{
    align-items: center;
    display: flex;
    height: 500px;
}
.text2{
    font-size:25px;
    text-align: center;
    color: white;
}


/* 3ème section */
#compétences{
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 300px;
}
.logo{
    height: 200px;
}



/* 4ème section */
#timeline{
    height: 2000px;
}


/* 5ème section */
#portfolio{
    height: 300px;
}


/* 6ème section */
#contact{
    height: 400px;
}


/* Ancre retour en haut */

.btn{
    box-shadow:inset 0px -6px 0px 0px #97c4fe;
    height: 80px;
    width: 80px;
    background: rgb(2, 211, 248);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    opacity: 0.8;
}
.btn:hover{
    box-shadow:inset 0px -2px 0px 0px #97c4fe;
}
.icone{
    width: 50px;
}
/* Fin Ancre */

