/* Général */

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Kelly+Slab&family=Luckiest+Guy&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, ::before, ::after{
    border-style: border-box;
    margin: 0;
    padding: 0;
}
html{
    font: normal 16px sans-serif;
    overflow-x : hidden;
}
body{
    background-color: #1570cd;
    background-image: url(./images/numérique.jpg);
    margin: 0;
    padding: 0;
    width: 100vw;
}

.Ancre {
	box-shadow:inset 0px -6px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius: 42px;
	border:2px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding: 10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
    transition: 0.2s
}
@media (min-width: 1200px){
    .Ancre{
        font-size: 18x;
    }
}
@media (max-width: 450px){
    .Ancre{
        padding: 7px;
    }
}

.Ancre:active {
	position:relative;
	top:1px;
}
.Ancre:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
    color: white;
    box-shadow:inset 0px -2px 0px 0px #97c4fe;
    transition: 0.2s;
}
.row{
    margin: 0;
}
.row > *{
    padding: 0;
}
h1{
    border: 2px solid white;
    text-align: center;
}

ul, nav{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.9;
    color: rgb(2, 211, 248);
}


/* Header */

header{
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    background-color: #2C3032;
}

header h1{
    font-family: 'Quicksand' , sans-serif;
}

header nav{
    display: flex;
}

@media (max-width: 700px){
    header{
        flex-direction: column;
    }
    header h3{
        margin-bottom: 15px;
    }
}

.soustitre{
    font-size: 30px;
    color: white;
    margin: 0;
    padding: 0;
}

/* Principal */

#descriptif, #profil, #compétences, #timeline, #portfolio, #contact{
    background-color: #2c3032c2;
    opacity: 1;
    margin-top: 150px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

/* 1ère section */
/* #descriptif{
    display: flex;
    justify-content: space-around;
    align-items: center;
} */

#portrait{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
img{
    max-width:100%;
	max-height:100%;
}
#textDescriptif{
    display: flex;
    align-items: center;

}
.text1{
    font-size:30px;
    text-align: center;
    color: white;
}



/* 2ème section */
#profil{
    align-items: center;
}
.text2{
    margin: 50px;
    font-size:18px;
    text-align: center;
    color: white;
}


/* 3ème section */
#compétences{
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.logo{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
}



/* 4ème section */
#timeline{
    padding: 1px;
} 

.box-timeline{
    width: 100%;
    height: 1500pw;
    background: #f1f1f1;
    position: relarive;
    padding: 80px 0 250px 0;
    margin-bottom: 100px;
}
.ligne{
    height: 1500px;
    width: 10px;
    margin: 0 auto;
    margin-top: 200px;
    background: white;
}
.rond{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background: white;
    position: absolute;
    border: 1px solid black;
    left: 50.45%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.r1{
    top: 2258px;
}
.r2{
    top:2658px;
}
.r3{
    top: 3058px;
}
.r4{
    top: 3400px;
}
.r5{
    top: 3760px;
}

.box{
    color: #333;
    width: 400px;
    min-height: 200px;
    padding: 20px;
    border-radius: 3px;
    height: auto;
    background: #f1f1f1;
    box-shadow: 0 10px 15px black;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.b1{
    top: 2150px;
    left: calc(50% - 270px);
}
.b2{
    top: 2550px;
    left: calc(50% + 270px);
}
.b3{
    top: 2950px;
    left: calc(50% - 270px);
}
.b4{
    top: 3300px;
    left: calc(50% + 270px);
}
.b5{
    top: 3650px;
    left: calc(50% - 270px);
}

.box p{
    line-height: 20px;
    font-size: 18px;
    margin: 10px 0 20px 0;
}

.btnT{
    display: block;
    background: #1e62d0;
    padding: 10px;
    width: 120px;
    text-align: center;
    color: #f1f1f1;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
}



/*5ème section*/
#portfolio{
    height: 300px; /*A supprimer à la fin pour le responsive*/
}


/*6ème section*/
#contact{
    height: 400px; /*A supprimer à la fin pour le responsive*/
}



/* Ancre retour en haut */

.btn{
    box-shadow:inset 0px -6px 0px 0px #97c4fe;
    height: 80px;
    width: 80px;
    background: rgb(2, 211, 248);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    opacity: 0.8;
}
.btn:hover{
    box-shadow:inset 0px -2px 0px 0px #97c4fe;
}
.icone{
    width: 50px;
}
/* Fin Ancre */